<nav class="navbar navbar-dark  indigo darken-2" style="background:#005a90;">
  
    <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22"
      aria-controls="navbarSupportedContent22" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon3"><span></span><span></span><span></span></div>
    </button>
    <a class="navbar-brand" href="#">StockApp</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent22">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="stock_link">
          <a class="nav-link active" href="#" routerLink="stocklist" routerLinkActive="active">StockList</a>
        </li>
        <li class="nav-item" id="clientes_link">
          <a class="nav-link" href="#" routerLink="clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item" id="productos_link">
          <a class="nav-link" href="#" routerLink="productos" routerLinkActive="active">Productos</a>
        </li>
      </ul>

    </div>
  </nav>
