<h1 class="titulo f_violeta">Stock</h1>
<button class="btn btn-success my-2 mx-2" data-toggle="modal" data-target="#agregarStock" (click)="fadeInAddStock()">+ Agregar item</button>
<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Correo</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let stock of stock; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{stock.cliente.nombre}}</td>
            <td>{{stock.cliente.correo}}</td>
            <td>{{stock.producto.descripcion}}</td>
            <td>{{'U$S '+stock.producto.precio}}</td>
            <td>
                <button class="btn btn-primary" data-toggle="modal" data-target="#editarStock" (click)="editarStock(stock.id,stock.producto.id_producto, stock.cliente.ci_cliente)">Editar</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="eliminarStock(stock.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- EDITAR ITEM DE STOCK -->
<div class="modal" id="editarStock" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="stockEditado()">
            <label for="ci_cliente" class="mr-2" style="width:90px;">Producto</label>
            <select [(ngModel)]="editStock.id_producto" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let producto of productos_list" [value]="producto['id_producto']">
                {{producto.descripcion}}
              </option>
            </select>
            <br>
            <label for="ci_cliente" class="mr-2" style="width:90px;">Cliente</label>
            <select [(ngModel)]="editStock.ci_cliente" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let cliente of clientes_list" [value]="cliente['ci']" >
                {{cliente['nombre']}}
              </option>
            </select>
            <br>
            <button class="btn btn-success mt-3 mr-2" type="submit" data-dismiss="modal" (click)="stockEditado()">Actualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- AGREGAR ITEM DE STOCK -->
<div class="modal" id="agregarStock" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <label for="ci_cliente" class="mr-2" style="width:90px;">Producto</label>
            <select [(ngModel)]="addStock.id_producto" [ngModelOptions]="{standalone: true}">
              <option selected="true">Elija una opción</option>
              <option *ngFor="let producto of productos_list" [value]="producto['id_producto']">
                {{producto['descripcion']}}
              </option>
            </select>
            <br>
            <label for="ci_cliente" class="mr-2" style="width:90px;">Cliente</label>
            <select [(ngModel)]="addStock.ci_cliente" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let cliente of clientes_list" [value]="cliente['ci']" >
                {{cliente['nombre']}}
              </option>
            </select>
            <br>
            <button class="btn btn-success mt-3 mr-2" type="submit" data-dismiss="modal" (click)="agregarStock()">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>

